*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo h2{
  font-size: 45px;
  font-weight: 900px;
  
}
.color-orange{
  color: #FD6E0A;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 18px 35px;


}

header{
  background-color: #FFF8F3;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  

}

  
