*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo h2{
  font-size: 45px;
  font-weight: 900px;
  
}
.color-orange{
  color: #FD6E0A;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  cursor: pointer;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;

}
.section-heading h2{
  font-size: 35px;
  color: #181818;
  font-weight: bold;
  margin-bottom: 30px;

}
.section-heading p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #757575;
}
header{
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-top: 50px;
}

nav{
  width: 71%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 46px 38px 0 230px;

}
#banner .banner-contant{
  max-width: 585px;
}
#banner .banner-contant h2{
  font-size: 45;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;

}
#banner .banner-contant h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-contant p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
#banner .banner-image img{
  max-width: 584px;
  vertical-align: middle;

}
#about , #skill , #resume{
  padding-top: 130px;
 
 
}
#about .about-section{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}
  .about-info{
    display: flex;
    margin: 30px 22.5px;
    max-width: 782px;
    justify-content: space-around; 
  }

  .about-info .about-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
  }
   .about-info .about-card h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #474747;
   }

   

   #skill .skill-container{ 
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
   }
   #skill .skill-container .section-heading h1{
    font-size: 35px;
    color: #181818;
    font-weight: bold;
    padding-bottom: 30px;
   }

   #skill .skill-container .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 50px;
    
   }
   #skill .skill-box{
    display: flex; 
    gap: 24px;
    justify-content: center;
   }
   #skill .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000060;
   }
   #skill .skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
  
   }
   #skill .skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
   
   }
   #skill .skill-box .skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
 
   }

   
   .resume-heading{
    text-align: center;
   }

   .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
   }
   .resume-container hr{
    margin: 30px 0;
   }
  .resume-container .section-title{
    font-size: 30px;
    margin-bottom: 30px;
    color: #474747;
  }
  .resume-card{
    max-width: 511px;
    margin-right: 47px;
  }
  .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
  }
  .card-info{
    font-size: 20px;
    font-weight:600;
    color: #757575;
    margin-bottom: 20px;
  }
  .card-text{
    font-size: 16px;
    color:#757575;
    line-height: 28px;
    
  }